@import "normalize";

$color-fg: #fafafa;
$color-e1: #333333;

body {
	overflow-x: hidden;
}

div {
	position: relative;
	display: block;
	width: 100%;
	.container {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		h1 {
			color: $color-fg;
			font-size: 3rem;
			margin-top: -2em;
			line-height: 3.5rem;
			border-bottom: 0.1em solid $color-fg;
			@media (max-width: 600px) {
				font-size: 2rem;
			}
		}
	}
	canvas {
		z-index: -1;
	}
}

.effect1 {
	background: $color-e1;
}
