body {
    font-family: system-ui;
}

main {
    padding: 2em 0;
}

footer {
    margin: 2em 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.demo {
    display: flex;
    gap: 4rem;
    overflow-x: hidden;
}

.demo > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo > canvas {
    border: 2px dotted;
}

.config {
    bottom: 0;
    line-height: 1.5;
}

.config .property {
    display: inline-flex;
    align-items: center;
    gap: 1ch;
}

.config .value {
    font-weight: bold;
}
